*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    font-family: sans-serif;
}
.video-container{
    width: 100%;
}
.form-container{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container > form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-container > form > label{
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0px;
    color: #fff;
}
.form-container > form > input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0px;
}
.btn-form{
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
    cursor: pointer;
}

video{
    width: 100%;
}
.wraper{
    width: 95%;
    max-width: 800px;
    margin: 40px auto;
}
.btncompra{
   text-align: center;
   margin: 20px;
   display: none;
}
.btn{
    background-color: #fff;
    padding: 20px 20%;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
}
.play{
    width: 50%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -45%;
    margin-left: 25%;
    background-color: #0339ff;
    border: #fff solid 2px;
    position: relative;
    z-index: 1;
}
.play > h3{
    font-size: 1.3em;
    font-weight: 600;
    padding: 5px;
}
.img{
    width: 80%;
    max-width: 100px;
}